<footer class="footer">
  <button class="footer__arrow">
      <a href="#header" title="Go to top part"
        ><img src="./assets/images/ico-arrow.svg" alt="Felcha up"
      /></a> </button>
   
  <section class="order1" >
    
    <nav class="footer__menu1">
      <ul class="footer__menu1--item1">
        <li><a class="link" href="https://adalab.es/" title="Go to Adalab Landing page">articles</li></a>
        <li><a class="link" href="https://adalab.es/" title="Go to Adalab Landing page">books</li></a>
        <li><a class="link" href="https://adalab.es/" title="Go to Adalab Landing page">events</li></a>
        <li><a class="link" href="https://adalab.es/" title="Go to Adalab Landing page">reasons</li></a>
        <li><a class="link" href="https://adalab.es/" title="Go to Adalab Landing page">tips</li></a>
      </ul>
    </nav>
  </section>
  <section class="order2">
    <nav class="footer__menu2">
      <ul class="footer__menu2--item2 " >
        <li><a class="link" href="https://adalab.es/" title="Go to Adalab Landing page">twitter</li></a>
        <li><a class="link" href="https://adalab.es/" title="Go to Adalab Landing page">instagram</li></a>
        <li><a class="link" href="https://adalab.es/" title="Go to Adalab Landing page">mastodon.social</li></a>
      </ul>
    </nav>
  </section>
  <section class="footer__copy">
    <div>&copy; 2021</div>
    <div>Hecho con <span class="heart">&#10084</span> <br/>
      Patricia Martinez</div>
   
  </section>

</footer>
