<header class="header" id="header">
  <nav>
    <a href="https://adalab.es/" title="Menu" class="header__hamburger"
      ><img src="./assets/images/ico-menu.svg" alt="Menú"
    /></a>
  </nav>
  <div class="header__container">
    <img class="logo" src="./assets/images/ovo.svg" />
    <h1 class="header__subtittle">
      Conoce a tu gallina de confianza. Desde la granja más cercana
    </h1>
  </div>
  <a class="header__arrow" href="#reasons" title="Go to Purchase"
    ><img src="./assets/images/ico-scroll-down.svg" alt="Flecha abajo"
  /></a>
</header>
