<main class="main">
  <section class="section1">
    <h2 class="section1__small">De la granja a casa</h2>
    <h2 class="section1__tittle">Programa de suscripción de huevos</h2>
    <p class="section1__text">
      OVO es un Proyecto de Diseño de un servicio. Se trata de una programa de
      suscripción de huevos a domicilio, de la granja a casa. OVO nace de la
      idea de "desaparición del ama de casa”, de la falta de tiempo. Todos
      buscamos sistemas y productos cómodos de máxima inmedaitez y mayor
      durabilidad. Junto a todas estas ideas, no podemos olvidar la creciente
      demanda de compras online y reparto a domiclio.
    </p>
    <button class="section1__button">Ir</button>
  </section>
  <section class="section2">
    <h2 class="reasons" id="reasons">
      Ventajas para clientes
    </h2>
    <article class="section2__article">
      <h3 class="tittle">Proximidad</h3>
      <p class="text">
        Proximidad del granjero-cliente. Sostenibilidad. 
        Comodidad y ahorro de tiempo.
      </p>
    </article>
    <article class="section2__article">
      <h3 class="tittle">Calidad</h3>
      <p class="text">
        Calidad, huevos del día a domicilio. Acceso a contenido y descuentos exclusivos
      </p>
    </article>
    <article class="section2__article">
      <h3 class="tittle">Sostenibilidad</h3>
      <p class="text">
        El consumo de productos locales garantiza su frescura y además beneficia la economía de nuestra la región.  
      </p>
    </article>
    <button class="section2__button--more">
      <a class="link" href="" title="Go to more reasons">Más razones</a>
    </button>
  </section>
    </section>
    <section class="section3">
      <h2 class="reasons" id="reasons">
        Ventajas para negocios
      </h2>
      <article class="section3__article">
        <h3 class="tittle">Ingresos y Previsión</h3>
        <p class="text">
          Ingresos recurrentes y previsión de producción y stock.
        </p>
      </article>
      <article class="section3__article">
        <h3 class="tittle">Mayor valor</h3>
        <p class="text">
          Valor del tiempo de vida del cliente con menos productos, mayor valor.
        </p>
      </article>
      <article class="section3__article">
        <h3 class="tittle">Ventas</h3>
        <p class="text">
          Oportunidades de Venta cruzada, Fidelización de usuarios y aumento de
          CLTV.
        </p>
      </article>
      <button class="section3__button--more">
      <a class="link" href="" title="Go to more reasons">Más razones</a>
    </button>
  </section>
</main>
