body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0; }

body {
  font-family: "Montserrat", sans-serif; }

.main .section1 {
  background-color: #ffffff;
  margin: 30px 15px 45px 15px; }
  @media all and (min-width: 768px) {
    .main .section1 {
      margin: 30px 39px 60px 39px; } }
  @media all and (min-width: 1200px) {
    .main .section1 {
      margin: 60px 275px; } }
  .main .section1__small {
    font-size: 14px;
    color: lightblue;
    line-height: 2.14; }
  .main .section1__tittle {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 15px;
    line-height: 1.25;
    font-weight: 700;
    width: 290px; }
    @media all and (min-width: 768px) {
      .main .section1__tittle {
        width: 690px;
        font-size: 26px;
        line-height: 45px;
        margin-bottom: 30px; } }
    @media all and (min-width: 1200px) {
      .main .section1__tittle {
        font-size: 32px; } }
  .main .section1__text {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: #4a4a4a;
    margin-bottom: 30px; }
    @media all and (min-width: 768px) {
      .main .section1__text {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 30px; } }
    @media all and (min-width: 1200px) {
      .main .section1__text {
        font-size: 20px;
        margin-bottom: 30px; } }
  .main .section1__button {
    color: #f26002;
    background-color: #ffffff;
    border: solid #f26002 2px;
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    transition: background-color 0.5s ease; }
  .main .section1__button:hover {
    background-color: #f26002;
    color: #ffffff; }

.main .section2 {
  background-color: #eff9ff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr; }
  @media all and (min-width: 768px) {
    .main .section2 {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 30% 1fr 30%; } }
  .main .section2 .reasons {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 30px 15px 45px 15px; }
    @media all and (min-width: 768px) {
      .main .section2 .reasons {
        font-size: 32px;
        grid-column: 1/4;
        line-height: 1.73; } }
  .main .section2__article .tittle {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 1.67; }
    @media all and (min-width: 768px) {
      .main .section2__article .tittle {
        font-size: 24px;
        line-height: 1.5;
        margin: 0px auto 0px auto;
        width: 210px; } }
    @media all and (min-width: 1200px) {
      .main .section2__article .tittle {
        width: 350px; } }
  .main .section2__article .text {
    font-size: 18px;
    text-align: center;
    margin: 0 70px 45px;
    line-height: 1.67; }
    @media all and (min-width: 768px) {
      .main .section2__article .text {
        font-size: 20px;
        line-height: 1.5;
        margin: 0 auto 60px auto;
        width: 210px; } }
    @media all and (min-width: 1200px) {
      .main .section2__article .text {
        width: 350px; } }
  .main .section2__button--more {
    background-color: #f26002;
    border: none;
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    transition: transform 0.3s ease-out; }
    @media all and (min-width: 768px) {
      .main .section2__button--more {
        grid-column: 1/4; } }
  .main .section2__button--more:hover {
    transform: scale(1.1); }

.main .section3 {
  background-color: lightblue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr; }
  @media all and (min-width: 768px) {
    .main .section3 {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 30% 1fr 30%; } }
  .main .section3 .reasons {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 30px 15px 45px 15px; }
    @media all and (min-width: 768px) {
      .main .section3 .reasons {
        font-size: 32px;
        grid-column: 1/4;
        line-height: 1.73; } }
  .main .section3__article .tittle {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 1.67; }
    @media all and (min-width: 768px) {
      .main .section3__article .tittle {
        font-size: 24px;
        line-height: 1.5;
        margin: 0px auto 0px auto;
        width: 210px; } }
    @media all and (min-width: 1200px) {
      .main .section3__article .tittle {
        width: 350px; } }
  .main .section3__article .text {
    font-size: 18px;
    text-align: center;
    margin: 0 70px 45px;
    line-height: 1.67; }
    @media all and (min-width: 768px) {
      .main .section3__article .text {
        font-size: 20px;
        line-height: 1.5;
        margin: 0 auto 60px auto;
        width: 210px; } }
    @media all and (min-width: 1200px) {
      .main .section3__article .text {
        width: 350px; } }
  .main .section3__button--more {
    background-color: #f26002;
    border: none;
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    transition: transform 0.3s ease-out; }
    @media all and (min-width: 768px) {
      .main .section3__button--more {
        grid-column: 1/4; } }
  .main .section3__button--more:hover {
    transform: scale(1.1); }

.header {
  background-image: url(../images/ovo.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; }
  .header__container {
    background-color: rgba(201, 81, 0, 0.4);
    height: 40vh;
    width: 30%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem; }
  .header .logo {
    width: 70%; }
  .header__hamburger {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 44px;
    height: 44px;
    background-color: #c95100;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px; }
  .header__subtittle {
    width: 90%;
    height: 21px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem; }
  .header__arrow {
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    text-align: center;
    margin: 45px 0 53px 0;
    padding-top: 14px;
    box-sizing: border-box;
    border-radius: 50%;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: intro;
    animation-iteration-count: intro;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }

@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*TABLET*/
@media all and (min-width: 768px) {
  .header__tittle {
    margin-bottom: 20px; }
  .header__arrow {
    margin: 30px 0 45px; } }

/*DESKTOP*/
@media all and (min-width: 1200px) {
  .header__tittle {
    margin-bottom: 0px; }
  .header__arrow {
    margin-bottom: 13px; } }

.footer {
  box-sizing: border-box;
  background-color: #85bfd5;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  @media all and (min-width: 768px) {
    .footer {
      flex-direction: row;
      padding: 45px 39px;
      justify-content: space-around;
      align-items: flex-start; } }
  @media all and (min-width: 1200px) {
    .footer {
      padding: 45px 340px; } }
  .footer__arrow {
    position: relative;
    border: transparent;
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    text-align: center;
    padding-top: 10.5px;
    box-sizing: border-box;
    border-radius: 50%;
    transform: translateY(-22.5px); }
    @media all and (min-width: 768px) {
      .footer__arrow {
        position: absolute;
        top: 0px; } }
  .footer__arrow:hover {
    -webkit-animation-name: rotate2;
    animation-name: rotate2;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: intro;
    animation-iteration-count: intro;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }

@-webkit-keyframes rotate2 {
  from {
    top: -23px;
    transform: rotate(0deg); }
  to {
    top: -23px;
    transform: rotate(360deg); } }

@keyframes rotate2 {
  from {
    top: -23px;
    transform: rotate(0deg); }
  to {
    top: -23px;
    transform: rotate(360deg); } }
  @media all and (min-width: 768px) {
    .footer__menu1, .footer__menu2 {
      width: 210px;
      text-align: left;
      padding-left: 30px; } }
  @media all and (min-width: 1200px) {
    .footer__menu1, .footer__menu2 {
      width: 159px;
      padding: 0px;
      margin-left: 30px; } }
  .footer__menu1--item1, .footer__menu1--item2, .footer__menu2--item1, .footer__menu2--item2 {
    margin-bottom: 30px;
    list-style-type: none;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.88; }
  .footer__copy {
    padding-bottom: 45px;
    font-size: 14px; }
    @media all and (min-width: 768px) {
      .footer__copy {
        width: 210px;
        text-align: left;
        padding-left: 30px;
        order: 0; } }
    @media all and (min-width: 1200px) {
      .footer__copy {
        width: 159px;
        padding: 0px;
        line-height: 2.14; } }
    .footer__copy .heart {
      color: #f26002;
      line-height: 2.14; }
  @media all and (min-width: 768px) {
    .footer .order1 {
      order: 1; }
    .footer .order2 {
      order: 2; } }

.link {
  text-decoration: none;
  color: #ffffff; }

/*# sourceMappingURL=main.css.map */
